*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

nav {
    height: 80px;
    background: rgb(37, 64, 106);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem calc((100vw - 1300px) / 2);

    .logo {
        color: white;
        font-size: 1.5rem;
        font-style: italic;
        padding: 0 2rem;
    }
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0 5rem;
    position: relative;
}

nav a::before,
nav a::after {
    content: '';
    position: absolute;
    height: 3px;
    width: 0;
    background-color: white;

    bottom: -5px;
    transition: width 0.5s;
}

nav a::after {
    left: 0;
    bottom: -10px;
}

nav a::before {
    right: 0;
    top: -10px;
}



nav a:hover:after,
nav a:hover:before {
    width: 100%;
}


.hero {
    background: rgba(89, 101, 20, 0.322);
}


.hero-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    padding: 3rem calc((100vw - 1300px) / 2);
    align-items: flex-start;
}

.column-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: black;
    padding: 0rem 2rem;

}

.column-left h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
    border-bottom: 2px solid black;
}

.column-left h2+p {
    position: relative;
}

.column-left h2+P::after {
    content: '';
    position: absolute;
    top: 50px;
    right: -30px;
    /* Adjust the position of the line */
    height: 250%;
    /* Height of the line */
    width: 5px;
    /* Width of the vertical line */
    background-color: black;
    /* Color of the line */
}

.column-left h2 {
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
}



.column-left p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    line-height: 1.5;
}



button {
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1rem;
    border: none;
    background: rgb(37, 64, 106);
    color: white;
    transition: 0.2s ease-out;
    cursor: pointer;
    border-radius: 50px;
}

button a {
    text-decoration: none;
    color: inherit;

}

button:hover {
    background: white;
    color: black;
}


.column-right {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0rem 2rem;
    flex-direction: column;
    /* Change to column direction */
    text-align: center;
}



.additional-content {
    margin-top: 20px;
    text-align: left;
    width: 100%
}

.additional-content h2 {
    font-size: 2rem;
    text-align: center;
}

.additional-content p {
    font-size: 1.5rem;
    line-height: 1.5;
}

.hero-image {
    width: 100%;
    height: 100%;
}


@media screen and (max-width: 768px) {
    .hero-container {
        grid-template-columns: 1fr;
    }
}